nameOverride: ""
fullnameOverride: ""

image:
  registry: docker.io
  repository: aquasec/harbor-scanner-trivy
  tag: 0.2.2
  pullPolicy: IfNotPresent

replicaCount: 1

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 5Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi

podSecurityContext:
  runAsUser: 1000
  runAsNonRoot: true
  fsGroup: 1000

securityContext:
  privileged: false
  readOnlyRootFilesystem: true

scanner:
  logLevel: info
  api:
    tlsEnabled: false
    tlsCertificate: ""
    tlsKey: ""
    readTimeout: "15s"
    writeTimeout: "15s"
    idleTimeout: "60s"
  trivy:
    cacheDir: "/home/scanner/.cache/trivy"
    reportsDir: "/home/scanner/.cache/reports"
    debugMode: false
    vulnType: "os"
    severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
    ignoreUnfixed: false
  store:
    redisURL: "redis://harbor-harbor-redis:6379"
    redisNamespace: "harbor.scanner.trivy:store"
    redisPoolMaxActive: 5
    redisPoolMaxIdle: 5
    redisScanJobTTL: "1h"
  jobQueue:
    redisURL: "redis://harbor-harbor-redis:6379"
    redisNamespace: "harbor.scanner.trivy:job-queue"
    redisPoolMaxActive: 5
    redisPoolMaxIdle: 5
    workerConcurrency: 1

service:
  type: LoadBalancer
  port: 8080
